@import "tailwindcss";

@theme {
    --color-yellow-pale: #FCDC9D;
    --color-yellow-light: #FFCA62;
    --color-yellow: #FDB935;
    --color-yellow-chromatic: #FFA800;
    --color-white: #FFFFFF;
    --color-gray-light: #E5E5E5;
    --color-gray-darker: #928F94;
    --color-black-light: #2D2B2F;
}

.nav-item {
    @apply h-full flex items-center px-4 hover:bg-gray-900 transition-colors;
}
.nav-item > a {
    @apply h-full flex items-center
}
input{
    @apply px-4 py-2 bg-amber-50 opacity-100 h-[3.75rem] w-[20.3rem] m-0
}

a {
    @apply text-gray-light;
}
